# Virtual environment
venv/
ENV/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE / éditeurs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Fichiers générés
*.log
*.sqlite3
*.db
*.env

# pip / distribution
*.egg
*.egg-info/
dist/
build/
.eggs/

.env
